.fv {
    border-top: 0;
}

.fv-slider {
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.swiper-slide {
    text-align: center;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .3);
    border-radius: 10px;
    opacity: .5;
    transform: scale(.8);
    transition: transform 0.5s ease, opacity .5s ease;
    overflow: hidden;
    cursor: pointer;
}

@media (max-width: 768px) {
    .swiper-slide {
        width: 80%;
        max-width: 320px;
    }
}

@media (max-width: 400px) {
    .swiper-slide {
        max-width: 220px;
    }
}

.swiper-slide-prev,
.swiper-slide-next {
    opacity: .85;
    transform: scale(.8)!important;
}

.swiper-slide-active {
    opacity: 1;
    transform: scale(1)!important;
    transition: transform .5s ease, opacity .5s ease, width .5s ease, height .5s ease;
}

.slide-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-accent);
    color: var(--color-base);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .4s ease;
}

.slide-overlay:hover {
    opacity: 1;
}

.slide-overlay p {
    font-size: clamp(50px, 10vw, 100px);
    font-weight: 700;
}

.swiper-button-prev,
.swiper-button-next {
    color: var(--color-accent);
    width: clamp(50px, 10vw, 100px);
    height: clamp(50px, 10vw, 100px);
    background-color: rgba(255, 255, 255, .8);
    border-radius: 50%;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: clamp(20px, 4vw, 40px);
}


.profile {
    background-color: var(--color-gray);
}